.value-active() {
  background-color: rgba(19, 125, 226, 0.07);
  color: #126ac4;
  transition-duration: 312ms;
}

.value-current() {
  font-weight: bold;
  color: #126ac4;
}

.value-hover() {
  background-color: rgba(19, 125, 226, 0.15);
  transition-duration: 312ms;
}

.date-picker--panel-year, .date-picker--panel-month {
  .date-picker--panel-value {
    width: 60px;
    height: 40px;
  }

  .date-picker--panel-value--lunar {
    transform: scale(0.9);
    margin-top: 0;
  }
}

.date-picker--panel-week, .date-picker--panel-quarter {
  tr.date-picker--row {
    td {
      color: unset;
      transition: color 312ms, background-color 312ms;
      background-clip: content-box;
      box-sizing: content-box;

      @radius: 20px;

      &:first-child {
        border-radius: @radius 0 0 @radius;
      }

      &:last-child {
        border-radius: 0 @radius @radius 0;
      }

      .date-picker--panel-value {
        &:hover, &-active {
          color: unset;
          background-color: unset;
        }

        &:hover {
          border-color: transparent;
        }
      }
    }

    &-active {
      td {
        .value-active();
      }
    }

    &:hover {
      td {
        .value-hover();
      }
    }
  }
}

.date-picker--panel-time {
  .date-picker--panel-body {
    padding-top: 5px;
  }
}

table + .date-picker--panel-time {
  border-top: 1px solid #ededed;
  padding-top: 5px;

  .date-picker--panel-time--value {
    position: relative;

    &:hover {
      .date-picker--panel-time-wheel {
        display: block;
      }

      > span:first-child {
        color: #0084fc;
      }
    }
  }

  .date-picker--panel-time-wheel {
    display: none;
    position: absolute;
    bottom: 30px;
    left: -10%;
    background-color: #ffffff;
    width: 130%;
  }
}

.date-picker--panel-time--body {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 30px;
}

.date-picker--panel-time--value {
  width: 60px;

  & > span {

    &:first-child {
      font-size: 18px;
      color: #444444;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      display: inline-block;
    }
  }
}

.date-picker--panel-time--sep {
  flex-shrink: 0;
  width: 24px;
}

.date-picker--panel-time-wheel {
  border-radius: 2px;
  box-shadow: 0 0 5px 1px #cccccc;
}

.date-picker--panel-time-wheel-value {
  color: #126ac4;
  border: 1px solid #cccccc;
  border-style: solid none;
  padding: 2px 0;
}

.date-picker--panel-time-wheel-prev, .date-picker--panel-time-wheel-next {
  color: #aaaaaa;

  > span {
    display: block;
    border: 1px solid #EEEEEE;
  }
}

.date-picker--panel-time-wheel-prev > span:first-child,
.date-picker--panel-time-wheel-next > span:last-child {
  color: #cccccc;
  border: 1px solid #f0f0f0;
}

.date-picker--panel-time-wheel-prev-button,
.date-picker--panel-time-wheel-next-button {
  cursor: pointer;
}

.date-picker--panel-body {
  box-sizing: border-box;

  table {
    border-collapse: collapse;
    width: 280px;
    height: 280px;
  }

  th {
    font-weight: normal;
    padding: 10px 0;
    border: none;
  }

  td {
    cursor: default;
    border: none;
    padding: 0;
  }
}

.date-picker--panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  color: #555555;
  line-height: 25px;

  .datepicker-iconfont {
    cursor: pointer;
    flex-shrink: 0;
  }

  &-prev, &-next {
    cursor: default;
    flex-shrink: 0;
  }

  &-year, &-month {
    cursor: pointer;
    padding: 0 2px;

    &:hover {
      color: #0084fc;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.date-picker--panel-value {
  @size: 40px;
  width: @size;
  height: @size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid transparent;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 8px;
  transition: border-color 618ms, background-color 618ms, color 618ms;

  &:not(&-disabled):hover {
    .value-hover();
  }

  &-active {
    .value-active();
  }

  &-highlight {
    background-color: rgba(98, 163, 226, 0.07);
    transition-duration: 312ms;
  }

  &-current {
    .value-current();

    .date-picker--panel-value--lunar {
      font-weight: normal;
    }
  }

  &-overflow {
    color: #888888;

    .date-picker--panel-value--lunar {
      color: #aaaaaa;
    }
  }

  &-disabled {
    color: rgba(255, 255, 255, 0.7) !important;
    text-shadow: 1px 1px 1px #7a7a7a;
    cursor: not-allowed;

    .date-picker--panel-value--lunar {
      text-shadow: none;
      color: #cccccc;
    }
  }
}

.date-picker--panel-value--solar {
  position: relative;

  &.is-festival {
    &:after {
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      background-color: #ffb7b7;
      position: absolute;
      right: -5px;
      top: 0;
      border-radius: 50%;
    }
  }
}

.date-picker--panel-value--lunar {
  font-size: 12px;
  display: block;
  transform: scale(0.8);
  margin-top: -5px;
  color: #888888;

  &.is-festival {
    color: #d58237;
  }
}
